body {
    background-image: url("http://localhost:8080/images?id=17");
    background-size: cover;
    display: grid;
    justify-items: center;
}

body form {
    display: grid;

}

body form input {
    padding: 10px 20px;
}

body form input[type="submit"] {
    margin-top: 10px;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
}
body form input[type="submit"]:hover  {
    background: #ffa22c;
}