body {
    background-image: url("http://localhost:8080/images?id=17");
    background-size: cover;
    display: grid;
    gap: 10px;
    padding: 10px;
}
* {
    padding: 0;
    margin: 0;
}
.post {
    padding: 20px;
    display: grid;
    gap: 10px;
}
.post:not(:last-child) {
    border-bottom: 1px dashed #000;
}
.post:hover {
    background:#ff5b0c;
}